<include file="Public:header"/>
</head>

<body class="login-body">
<div class="container">

    <form class="form-signin" action="{:U('Login/Login')}" method="post">
        <h2 class="form-signin-heading">铭泰移动端系统登录</h2>
        <div>
            <input type="text" class="form-control" name="account" placeholder="用户名" autofocus id="account">
            <input type="password" name="password" class="form-control" placeholder="密码" id="password">
            <button class="btn btn-lg btn-info btn-block" type="submit" >登录</button>
        </div>
    </form>
</div>
</body>
</html>