<include file="Public:header" />
<include file="Public:headnav"/>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <!--面板的头-->
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
             href="#collapseOne">
            <h4 class="panel-title">
                <!--标题-->
                MinTest1
                <!--时间-->
                <span class="badge" style="float:right;">2016-07-17 14:05:33</span>
            </h4>
        </div>
        <!--面板的内容-->
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">发送人：Min</li>
                    <li class="list-group-item">重要程度：2</li>
                    <li class="list-group-item">
                        消息内容：移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2移动端消息测试2
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
             href="#collapseTwo">
            <h4 class="panel-title">
                MinTest2
                <span class="badge" style="float:right;">2016-07-17 15:33:33</span>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">发送人：Min</li>
                    <li class="list-group-item">重要程度：2</li>
                    <li class="list-group-item">消息内容：移动端消息测试1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>