<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title>铭泰船舶移动端</title>
    <link rel = "stylesheet" href = "__PUBLIC__/css/bootstrap.min.css">
    <script src = "__PUBLIC__/js/jquery-1.12.3.min.js"></script>
    <script src = "__PUBLIC__/js/bootstrap.min.js"></script>
    <!-- 自适应移动端 -->
    <meta name = "viewport" content = "width=device-width,initial-scale=1,user-scalable=0">
    <style>
        body {
            padding-top: 70px; /*有顶部固定导航条时设置*/
            padding-bottom: 70px; /*有底部固定导航条时设置*/
        }
    </style>