<include file="Public:header" />
<include file="Public:headnav" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img src="__PUBLIC__/images/mtcblogo.png" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <a role="button" class="btn btn-default btn-block btn-lg" href="{:U('News/index')}">查看消息</a>
        </div>
        <div class="col-xs-6">
            <a role="button" class="btn btn-default btn-block btn-lg" href="{:U('News/create')}">发送消息</a>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-6">
            <a role="button" class="btn btn-default btn-block btn-lg" href="#">查看公告</a>
        </div>
        <div class="col-xs-6">
            <a role="button" class="btn btn-default btn-block btn-lg" href="#">发送公告</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-6">
            <a role="button" class="btn btn-default btn-block btn-lg" href="#">待办任务</a>
        </div>
        <div class="col-xs-6">
            <a role="button" class="btn btn-default btn-block btn-lg" href="#">已办任务</a>
        </div>
    </div>
</div>

<include file="Public:footer" />
