<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title>铭泰船舶移动端</title>
    <link rel = "stylesheet" href = "__PUBLIC__/css/bootstrap.min.css">
    <script src = "__PUBLIC__/js/jquery-1.12.3.min.js"></script>
    <script src = "__PUBLIC__/js/bootstrap.min.js"></script>
    <!-- 自适应移动端 -->
    <meta name = "viewport" content = "width=device-width,initial-scale=1,user-scalable=0">
</head>
<style>
    #sign { width: 100%; margin-top: 20px; }
</style>
<button type = "button" class = "btn btn-primary" disabled="true" id = "sign">签到</button>

<div class="table-responsive">
    <table class="table">
        <caption style="text-align: center;font-size: 20px;font-weight: bold;">签到记录</caption>
        <thead>
        <tr>
            <th>签到人</th>
            <th>微信昵称</th>
            <th>签到时间</th>
            <th>结果</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>系统管理员</td>
            <td>伟民</td>
            <td>2016-09-09 00:20:00</td>
            <td>成功</td>
        </tr>
        <tr>
            <td>系统管理员</td>
            <td>伟民</td>
            <td>2016-09-09 00:20:00</td>
            <td>失败</td>
        </tr>
        <tr>
            <td>系统管理员</td>
            <td>伟民</td>
            <td>2016-09-09 00:20:00</td>
            <td>失败</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<!--<script src = "http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: true,
        appId: '<?php echo $signPackage["appId"];?>',
        timestamp: <?php echo$signPackage["timestamp"];?>,
        nonceStr: '<?php echo $signPackage["nonceStr"];?>',
        signature: '<?php echo $signPackage["signature"];?>',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'getLocation'
        ]
    })
    ;
    wx.ready(function () {
        // 在这里调用 API

        // 7.2 获取当前地理位置
        $('#sign').click(function () {
            wx.getLocation({
                success: function (res) {
                    alert(JSON.stringify(res));
                },
                cancel: function (res) {
                    alert('用户拒绝授权获取地理位置');
                }
            });
        });
    });

</script>-->
</html>